*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
}

:root {
    --clr-primary: rgb(100, 253, 78)
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Utility classes */
.grid-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.tracking-tighter {
    letter-spacing: -0.875px;
}